

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator walutowy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/container.css" rel="stylesheet">
    <link rel="stylesheet" href="css/Cost.css">
    <link rel="stylesheet" th:href="@{/css/List.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
            rel="stylesheet">
    <script defer src="js/script.js"></script>
</head>

<body>
<div class="container">

    <div align="center">

        <h1>Cost of solar panels for different house sizes</h1>
        <div th:if="${message}">
            [[${message}]]
        </div>
        <table border="1">
            <thead>
            <tr>
                <th>Property size</th>
                <th>Annual electricity usage</th>
                <th>Number of solar panels</th>
                <th>Battery size</th>
                <th>Solar-plus-storage system cost</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td >1-2 bedrooms</td>
                <td >Ty1800 kWh</td>
                <td >6</td>
                <td >4 kWh</td>
                <td >160,000</td>
            </tr>
            <tr >
                <td >1-2 bedrooms</td>
                <td >1800 kWh</td>
                <td >10</td>
                <td >8 kWh</td>
                <td >190,000</td>
            </tr>
            <tr >
                <td >5 bedrooms</td>
                <td >4300 kWh</td>
                <td >14</td>
                <td >9.8 kWh</td>
                <td >22,000,000Frw</td>
            </tr>
            </tbody>
        </table>
        <div>&nbsp;</div>
        <div id="result">
            <p>these prices are based on Microgeneration Certification Scheme (MCS) cost data (March 2023),
                the average price of electricity (April 2023), and Ofgem's latest typical domestic consumption values (2021).
                Total costs may increase with more complex installations. The above estimates do not include the cost of a solar battery.</p>
        </div>

        <h1>Solar Panel Calculator</h1>

        <br><br>
        <script th:src="@{../JS/calculator.js}"></script>

    </div>

    <form class="form js-form">
       Please keep In Mind that The average cost of a 3.5 kilowatt-peak (kWp*) solar panel system is FR 78,600.
        <fieldset class="form__fieldset">
            <legend class="form__legend">Solar Panel Cost</legend>
            <p>
                <label class="label">
                        <span class="form__labelText">
                            Address*:
                        </span>
                    <input class="form__input js-input" type="number" name="sum" step="any" min="0" required
                           autofocus>
                </label>
            </p>
            <p>
                <label>
                        <span class="form__labelText">
                             Panel needed:
                        </span>
                    <select class="form__field form__field--currency js-currency" type="number" name="currency"
                            min="0" step="any" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </label>
            <p>
                <button class="form__button">Find Out!</button>
            </p>
    </form>

    </fieldset>
    <footer class="footer">©Copyright 2023 by Tresor xavier. All rights are all reserved.</footer>
</div>


</body>

</html>
