<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeLeaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/sliders.css}" />
</head>
<body>
<div class="wrapper">
  <h1>Special Panel Recommendations</h1>
  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/10Wts/SunnerPower.jpg" alt="Your Image" class="card-image">
            <span>SunerPower 10WTS </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>[Free Maintenance] Durable aluminium frame and tempered glass, well built for years. Come with 3 piece SAE cable kits, plug and play, easy to use. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/10Wts/SunSul.jpg" alt="Your Image" class="card-image">
            <span>SunSul 10WTS </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>SUNSUL 10 Watt 12V Solar Panel Kit Battery Maintainer Trickle Charger, with Waterproof 5A 12V/24V PWM Solar Charge Controller and Adjustable.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/20Wts/FlexSolar.jpg" alt="Your Image" class="card-image">
            <span>Flex Solar 20WTS </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>FlexSolar 20Watt Portable Foldable Solar Panel for Power Station and 15W Small USB Solar Panel(5V/3A Max)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/20Wts/olperk.jpg" alt="Your Image" class="card-image">
            <span> Solperk20wts </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>SOLPERK Solar Panel Kit 20W 12V, Solar Battery Trickle Charger Maintainer + Upgrade Controller + Adjustable Mount Bracket for Boat Car RV Motorcycle Marine Automotive</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/50Wts/Renogy.jpg" alt="Your Image" class="card-image">
            <span>Renogy 50WTS </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Renogy 50WTS Watt 12 Volt Monocrystalline Off Grid Portable Foldable 2Pcs 50W Solar Panel Suitcase Built-in Kickstand & 15Ft 10AWG Solar Extension Cable. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/50Wts/TopSolar.jpg" alt="Your Image" class="card-image">
            <span>SunerPower 50wts </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/100Wts/JJN.jpg" alt="Your Image" class="card-image">
            <span> JJN 10wts </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>JJN 100 Watt Solar Panel 2 Pack of 100 Watt Solar Panels kit with 1100w Power Inverter,20A Solar Charge Controller,8 Units Z Bracket</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/100Wts/Allpow.jpg" alt="Your Image" class="card-image">
            <span>AllPow 100wts </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Haycide 20000mAh Laptop Power Bank with 155W Output,3 Port USB C See-Through Battery Bank with IPS Digital Display & Haycide 100W USB C Charger.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/200Wts/HQSt.jpg" alt="Your Image" class="card-image">
            <span>HQSt 200WTS </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>HQST 100 Watt 9BB Monocrystalline Solar Panel with 40 Amp Bluetooth Lithium MPPT Solar Charge Controller 12V 24V for Off-Grid RVs, Motorhomes, Cabins, Marine, Boats</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/200Wts/WEiz.jpg" alt="Your Image" class="card-image">
            <span>Weiz 200WTS </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Weize 14.6V 20A LiFePO4 Battery Charger, Intelligent AC-DC LiFePO4 Lithium Battery Smart Charger for 12V Lithium Iron Phosphate Batteries, Support Fast Charging.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/300Wts/300Dokio.jpg" alt="Your Image" class="card-image">
            <span>300Dokio 300WTS </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>
              Link Solar Weatherproof ABS Solar Double Cable Entry Gland for All Cable Types 2mm² to 6mm² for Solar Project on Rv, Campervan, Boat</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front">
          <div class="inner">
            <img src="../img/300Wts/AcoPower.jpg" alt="Your Image" class="card-image">
            <span>AcoPower 300WTS </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Coleman Insulated Portable Thermoelectric Cooler, 40qt Versatile Hot/Cold Cooler for Vehicles and Truckers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>