<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Product  </title>
  <link rel="stylesheet" th:href="@{/css/NewProd.css}" />
</head>
<body>
<div th:replace="/header.html :: header"></div>
<div align="center" class="container">
  <div class="image-section">
    <img src="../img/OIP.jpg" alt="Hotel image">
  </div>
<!--  <form  th:action="@{/edit}" th:object="${hotel}" method="post" class="form-section">-->
  <form th:action="@{/Save}" th:object="${hotel}" method="post" class="form-section">
  <table>
      <tr>
        <td>Hotel ID</td>
        <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
      </tr>
      <tr>
        <td>Hotel Name</td>
        <td><input type="text" th:field="*{name}"/></td>
      </tr>
      <tr>
        <td>Ratings</td>
        <td><input type="text" th:field="*{rating}"/></td>
      </tr>
      <tr>
        <td>Available Rooms</td>
        <td><input type="text" th:field="*{rooms}"/></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" th:field="*{address}"/></td>
      </tr>

      <tr>
        <td colspan="2"><button type="submit" />Edit</td>
      </tr>
    </table>
  </form>

</div>
</body>
</html>