<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" th:href="@{/css/Home.css}" />
    </head>
    <body>
        <header>
            <nav>
                <div class="container" >

                    <ul class="menu">
<!--                        <li><a th:href="#" class="button">Home</a></li>-->
                        <li><a th:href="@{/Register}" class="button">Register</a></li>
                        <li><a th:href="@{/login}" class="button">Login</a></li>
                        <li><a href="@{/logout}" class="button" method="post">Log Out</a></li>
                    </ul>
                </div>
            </nav>
        </header>
<!--        <div th:replace="/header.html :: header"></div>-->
        <div class="hero">
            <div class="container">
                <h1>Welcome to Hotel Operation Website</h1>
                <p>We provide the best services in the industry</p>
            </div>
        </div>
        <p th:text="${message}"></p>
        <div class="separator">
            <a th:href="@{/new}" class="button">Add Hotel</a>
            <a th:href="@{/list_Hotel}" class="button">List Hotel</a>
            <a th:href="@{/list_users}" class="button">List Users</a>
        </div>
        <div class="search">
            <form action="/search" method="GET" name="search">
                <input type="text" name="query" placeholder="Search..." >
                <button type="submit">Go</button>
            </form>
        </div>
        <div class="card">
            <img src="../img/Hote.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Raddison Hotel</b></h4>
                <h4><b>Available Rooms: 250</b></h4>
                <h4><b>Ratings: 5 Star</b></h4>
                <p>Address:Kiyovu</p>
            </div>
        </div>
        <div class="card">
            <img src="../img/Room.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Virunga Hotel</b></h4>
                <h4><b>Available Rooms: 140</b></h4>
                <h4><b>Ratings: 5 Star</b></h4>
                <p>Address:Musanze</p>
            </div>
        </div>
        <div class="card">
            <img src="../img/th.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Serena Hotel</b></h4>
                <h4><b>Available Rooms: 250</b></h4>
                <h4><b>Ratings: 5 Star</b></h4>
                <p>Address:Gisenyi</p>
            </div>
        </div>
<!--        <div class="card">-->
<!--            <img src="../img/Apples.jpg" alt="Avatar" style="width:100%">-->
<!--            <div class="container">-->
<!--                <h4><b>Available Rooms: 250</b></h4>-->
<!--                <h4><b>Ratings: 5 Star</b></h4>-->
<!--                <p>Address:Kimihurura</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--            <img src="../img/Lemon.jpg" alt="Avatar" style="width:100%">-->
<!--            <div class="container">-->
<!--                <h4><b>Available Rooms: 250</b></h4>-->
<!--                <h4><b>Ratings: 5 Star</b></h4>-->
<!--                <p>Address:Kiyovu</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--            <img src="../img/Pineaple.jpg" alt="Avatar" style="width:100%">-->
<!--            <div class="container">-->
<!--                <h4><b>Available Rooms: 250</b></h4>-->
<!--                <h4><b>Ratings: 5 Star</b></h4>-->
<!--                <p>Address:Kiyovu</p>-->
<!--            </div>-->
<!--        </div>-->
    </body>
</html>