<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Operation Manager</title>
    <link rel="stylesheet" th:href="@{/css/List.css}" />
</head>
<body>
<div align="center">
    <h1>List of Hotel</h1>
    <div th:if="${message}" >
        [[${message}]]
    </div>
    <table border="1">
        <thead>
        <tr>
            <th>Hotel ID</th>
            <th> Name</th>
            <th>Ratings /5</th>
            <th>Rooms</th>
            <th>address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="users :${listHotel}">
            <td th:text="${users.id}">Hotel Id</td>
            <td th:text="${users.name}">Name</td>
            <td th:text="${users.rating}">Ratings</td>
            <td th:text="${users.rooms}">Rooms</td>
            <td th:text="${users.address}">Address</td>
            <td>
                <a th:href="@{'/edit/'+${users.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/'+${users.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>


